body
  background: #F5F5F5
  font: Roboto

.main-nav
  padding-left: 0px
  display: flex

li
  list-style: none


li:first-child
  margin-right: auto

div.wrap
  width: 90%
  margin: 10px auto

a
  color: #0031FF
  margin-left: 16px
  display: block
  padding: 10px 15px 0px 15px
  border-bottom: solid 2px
  border-color: #62FAA8

a.logo
    margin-left: 0px
    border: none
    color: #0031FF
    padding: 0px
    font-weight: bold
    font-size: 24px

span.smallSentence
     font-size: 14px

span.art
    color: #A32FFB

span.code
    color: #62FAA8

span.life
    color: #FF6C00

#largeImages
    width: 90%
    margin: 0px auto
    background-color: white
    height: 250px
